@import 'tailwindcss';

*{
    /* outline: 1px solid red; */
    --color-text-bg:#54487447;
    --color-text:#f4eefd;
    --color-input-bg: #544874;
    --color-focus: #9084a3;
    --color-bg:#0f0c2f;
    --color-bg-2: #262349;
    --color-bg-light:#decdf9;
    --grid-nav: 200px 1fr 50px 50px;
}

body{
    overflow-x: hidden;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
}

.btn{
    font-weight: 700;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    width: fit-content;
    height: 2rem;

}

.btnSubmit{
    width: 100%;
    padding: 0.73rem;
    border-radius: 0.73rem;
    cursor: pointer;
    font-weight: 500;
}
